html, body
{
  height: 100%;
  margin: 0;
}

body
{
background-image: linear-gradient(to right top, #33a0f1, #2591d9, #1882c1, #0a73aa, #006494);
}

#main , #details {
    float: left;
}

#details {
    text-align: center;
    padding: 80px;
    margin-left: 45px;
}

#mainm {
    width: 700px;
    height: 657px;
    text-align: center;
}

.header img {
    width: 80px;

}

.logo{
    width: 100px;
}

#login_button
{
	width: 80%;
    border-radius: 15px;
}

#tweet{
    margin: 100px;
}

h3 , label{

    font-family: 'Newsreader', serif;
    text-shadow: 2px 2px 5px white;
}

h1 {

    font-family: 'Yeon Sung';
    text-shadow: 2px 2px 5px blue;
    color: rgb(107, 245, 255);
    text-align: center;
    letter-spacing: 5px;
}

label {
    font-size: large;
}


.room_name
{
	cursor: pointer;
	font-size: 20px;
}


#logout
{
	font-size: 20px;
    float: right;
    margin-top: 10px;
}

h2{
    font-family: 'Newsreader', serif;
}

#output
{
	padding: 10px; width:80%;background: rgba(255,255,255,0.8);border-radius: 15px;
}





